{
  :test-info {
    :id
    :description
    :version
    :date-updated
    :owner
  }
  :request {
    :verb "get"
    :url "/"
    :payload {
      :headers {
        :blah1 "Abc123"
        :blah2 "Abcd1234"
      }
      :content {}
    }
  }
  :response {
    :actual {
      :latency-ms 0
      :http-code 200
      :payload {
        :headers {
          :blah1 "Def456"
          :blah2 "Efgh5678"
        }
        :content {}
      }
    }
    :regex-matcher {
      :max-latency-ms 120000
      :http-code "\d+"
      :payload {
        :headers {
          :blah1 ".*"
          :blah2 ".*"
        }
        :content ".*"
      }
    }
  }
}

{
  :response :ok
  :test-info {
    :id
    :description
    :version
    :date-updated
    :owner
  }
  :expected {
    :http-code 200
    :max-latency-ms 1000
    :headers {}
    :content {}
  }
  :actual {
    :http-code 200
    :latency-ms 1000
    :headers {}
    :content {}
  }
}
